<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Revision" value="C_TEST" />
    <add key="TestDB" value="Test" />
    <add key="SysproDB" value="Syspro" />
    <add key="VerificationDB" value="Verification" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DebugTest" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="DebugSyspro" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=SYSPROVLSZ" />
    <add name="DebugVerification" connectionString="Data Source=VENTEC-SQL03.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="BothellTest" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="BothellSyspro" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=SYSPROVLSZ" />
    <add name="BothellVerification" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="KokomoTest"
          connectionString="Data Source=OKKPPAGVEN001.okk.nam.gm.com;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVhSC;Initial Catalog=Production_Test_Data"/>
    <add name="KokomoSyspro"
          connectionString="Data Source=OKKPPAGVEN001.okk.nam.gm.com;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVhSC;Initial Catalog=SYSPROPROD"/>
    <add name="KokomoVerification"
          connectionString="Data Source=OKKPPAGVEN001.okk.nam.gm.com;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVhSC;Initial Catalog=Production_Test_Data"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>