<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key ="Location" value="Bothell" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <add key ="Environment" value ="Debug" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <add key ="db_path" value="VENTEC-SQL01.ventec.local" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <add key ="db_user" value="VENTEC\mfgoperator" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <add key ="db_pass" value="Ventec123!" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <add key ="config_path" value ="..\..\Settings.xml" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
  </appSettings>
</configuration>