<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TestDataDB" value="Test" />
    <add key="SysproDB" value="Syspro" />
    <add key="VerificationDB" value="Verification" />
    <add key="ConfigPath" value="settings.json" />
    <add key="FT_Keyword" value="After%" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="MFGSpec" value="MFG-00539" />
    <add key="SWSpec" value="MFG-00543" />
    <add key="Revision" value="C" />

    <add key="Location" value="Bothell" />
    <add key="Auto" value="false"/>


  </appSettings>
  <connectionStrings>
    <add name="DebugTest" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="DebugSyspro" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=SYSPROVLSZ" />
    <add name="DebugVerification" connectionString="Data Source=VENTEC-SQL03.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    
    <add name="BothellTest" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
    <add name="BothellSyspro" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=SYSPROVLSZ" />
    <add name="BothellVerification" connectionString="Data Source=VENTEC-SQL01.ventec.local;Integrated Security = true;Persist Security Info=false;Initial Catalog=Production_Test_Data" />
 
    <add name="KokomoTest" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=Production_Test_Data" />
    <add name="KokomoSyspro" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=SYSPROPROD" />
    <add name="KokomoVerification" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=Production_Test_Data" />

    <add name="KokomoArchiveTest" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=Production_Test_Data" />
    <add name="KokomoArchiveSyspro" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=SYSPROPROD_GM_POSTPROD" />
    <add name="KokomoArchiveVerification" connectionString="Data Source=VPSWKLSTV01.kokomo.ventec.local;Integrated Security = False;Persist Security Info=false;User ID=Velentium_Svc;Password=U9mTCfNfaMcMh3N2Db89tjmRSkmeVERC;Initial Catalog=Production_Test_Data" />
    
    <add name="Debug" connectionString="Server=localhost;Database=master;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>