<?xml version="1.0"?>
<testconfigs>

  <partnumber pn="PRT-00100-000">
    <Table>Production_Test_Compressor</Table>
    <Description>Assembly, Radial Compressor</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00127-000">
    <Table>Production_Test_Exhalation_Control_Module</Table>
    <Description>Assy, Exhalation Control Module</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00160-001">
    <Table>Production_Test_InletAccumulator</Table>
    <Description>Assembly, Inlet Accumulator</Description>
    <ST>StartTime</ST>
  </partnumber>

  <partnumber pn="PRT-00202-001">
    <Table>Production_Test_Rotary_Valve</Table>
    <Description>Assembly, Rotary Valve, Function Select</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-00202-002">
    <Table>Production_Test_Rotary_Valve</Table>
    <Description>Assembly, Rotary Valve, Oxygen</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  
  <partnumber pn="PRT-00254-000">
    <Table>Production_Test_Metering_Valve</Table>
    <Description>Assembly, O2 Metering Valve</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00250-001">
    <Table>Production_Test_CoughAssist</Table>
    <Description>Assembly, Cough Assist Valve</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01165-000">
    <Table>Production_Test_CoughAssist</Table>
    <Description>Assembly, Intermediate COugh Assist, Pass Through</Description>
    <ST>StartTime</ST>
  </partnumber>

  <partnumber pn="PRT-00320-100">
    <Table>Production_Test_O2Regulator</Table>
    <Description>Assembly, Oxygen Regulator Valves</Description>
    <ST>StartTime</ST>
  </partnumber>

  <partnumber pn="PRT-00360-000">
    <Table>Production_Test_External_Flow</Table>
    <Description>Assembly, External Flow Module</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00368-000">
    <Table>Production_Test_Internal_Flow</Table>
    <Description>Assembly, Internal Flow Transducer</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00380-000">
    <Table>Production_Test_OxygenAccumulator</Table>
    <Description>Assembly, Oxygen Accumulator</Description>
    <ST>StartTime</ST>
  </partnumber>

  <partnumber pn="PRT-00410-001">
    <Table>Production_Test_External_Oxygen_Controller</Table>
    <Description>Assembly, External Oxygen Controller</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00441-002">
    <Table>Production_Test_MainChassis</Table>
    <Description>Assembly, Main Chassis, Aluminum Manifold Covers</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-00441-003">
    <Table>Production_Test_MainChassis</Table>
    <Description>Assembly, Main Chassis, VC Standard</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-00441-100">
    <Table>Production_Test_MainChassis</Table>
    <Description>Assembly, Main Chassis, VC</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01186-000">
    <Table>Production_Test_MainChassis</Table>
    <Description>Assembly, Main Chassis, VCSN</Description>
    <ST>StartTime</ST>
  </partnumber>


  <partnumber pn="PRT-01060-001">
    <Table>Production_Test_O2_Sensor</Table>
    <Description>PCA, Calibrated, OAX Bd, TPS62130</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <partnumber pn="PRT-00475-001">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-00475-002">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-00910-000">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VC</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-00910-001">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VC</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01095-000">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VC Standard</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01095-001">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VC Standard</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01114-000">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VOCSN Standard</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01114-001">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VOCSN Standard</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01182-000">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, VCSN+PRO</Description>
    <ST>StartTime</ST>
  </partnumber>
  <partnumber pn="PRT-01183-000">
    <Table>Production_Test_Centerband</Table>
    <Description>Assembly, Center Band, V+PRO</Description>
    <ST>StartTime</ST>
  </partnumber>

  
  
  <partnumber pn="PRT-00490-001">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VOCSN+PRO</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-00490-100">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VOCSN+PRO, Japan</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-00900-001">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VC+PRO</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-00900-100">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VC+PRO, Japan</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01098-000">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VC Standard, English</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01100-000">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VOCSN Standard</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01100-001">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VOCSN Standard</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01184-000">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, VCSN+PRO</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01185-000">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, V+PRO</Description>
    <ST>StartDateTime</ST>
  </partnumber>
  <partnumber pn="PRT-01201-000">
    <Table>Production_Test_Final_Test</Table>
    <Description>Assembly, V+PRO Emergency</Description>
    <ST>StartDateTime</ST>
  </partnumber>

  <stationconfig>
    <StationID>SV</StationID>
    <MFGSpec>MFG-00539</MFGSpec>
    <SWSpec>MFG-00543</SWSpec>
    <SWRev>A</SWRev>
    <EventName>TestDataVerification</EventName>
    <DB>01</DB>
    <ReadOnly>false</ReadOnly>
  </stationconfig>


  <operatorID>
    <operator>cmassie</operator>
  </operatorID>
  <operatorID>
    <operator>dklein</operator>
  </operatorID>
  <operatorID>
    <operator>oplumridge</operator>
  </operatorID>
  <operatorID>
    <operator>risip</operator>
  </operatorID>
  <operatorID>
    <operator>tmao</operator>
  </operatorID>
</testconfigs>